.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 1 20%;
    border-radius: 2rem;
    background-color: #f0f4da;
    margin: 2rem;
    padding: 2rem;
    > div {
        margin-bottom: 1rem;
        h3 {
            font-size: 2rem;
            color: rgb(121, 63, 8);
            padding: 1rem;
        }
        img {
            width: 100%;
        }
        a {
            text-decoration: none;
        }
        button {
            width: 100%;
            padding: 0.5rem;
            font-size: 1.5rem;
            background: #ff7200;
            border-radius: 32px;
            text-align: center;
            cursor: pointer;
            transition: all 0.1s ease-in-out;
        }
    }
}
